<div class="confirmation-container">
  <div class="confirmation-items">
    <h1 class="confirmation-header confirmation-item">Success!</h1>
    <p>Thank you, <span>{{ orderDetails.fullName }}</span></p>
    <p>Your order of <span>${{ orderDetails.totalAmount }}</span> has been confirmed</p>
    <p class="confirmation-item">Kindly note that shipping takes 1-3 business working days.</p>
    <p>
      <a routerLink="/" class="btn btn-primary">&lt; Back to product list</a>
    </p>
  </div>

</div>
